$bgrprim: #eaeaea;
$bgrcontact: #09884b;
$bgrsecondary:#076373;
$bgrskills: #ffa500;
$textcolor: #076373;
$textlight: #eaeaea;


$boxshadow:  #aaaaaa 0px 7px 10px 7px;
$border: 1px solid grey;