footer.wrapper
    img(src="../../img/long_line.jpg")
    .footer-content
        .footer-content_copyright
            p © Boljobekova Nurzat 2018
        .footer-content_contact
            img(src="../../img/whatsap_.jpg", alt="Phone")  
            span +996 550814714
            a(href="nboljobekova@gmail.com")
                img(src="../../img/email_.jpg", alt="Email") 
            span nboljobekova@gmail.com