header.wrapper
    .header
        .header-left-box
            h1 BOLJOBEKOVA Nurzat 
            h3 front end web developer
        .header-right-box
            ul
                li: a(href="https://github.com/nboljobekova") 
                    img(src='../../img/github.jpg', alt='GitHub')
                li: a(href="https://www.linkedin.com/in/nurzat-boljobekova-17944418a/") 
                    img(src='../../img/linkedin_.jpg', alt='LinkedIn')
                li: a(href="https://t.me/NurzatT") 
                    img(src='../../img/telegram_.jpg', alt='Telegram')