body {
    margin: 0px;
    padding: 0px;
    font-family:'Open Sans',Arial;
    font-weight:300;
    color: #076373;
    background: #eaeaea;
}

.wrapper {
    width:  900px;
    margin: 0 auto;
    background: #eaeaea;
}

.header {
    height:110px;
    margin: 0 auto;
}

.left_box 
{ 
    height: 100px;
    clear:both;
    float:left; 
}

h2 {
    margin-top: 40px;
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 6px;
}

h3, h4 {
    margin: 6px 0;
    font-weight: 300;
}

p {
    margin: 0;
}

.year {
    margin-top: 12px;
}

.right_box { 
    height: 35px;
    float:right; 
    padding-top: 70px;
}

.menu {
    float: right;
}
.menu li {
    display: inline-block;  
}

.menu li img{
    width: 20px;  
    height: 20px;
    margin-left: 5px;
}

.menu-li {
    margin: 5px 5px;
    list-style-type: none;
    font-family:'Open Sans',Arial;
    font-size: 14px;
}

.content-blocks {
    background-color: #eaeaea;
    height: 460px;
}

.blocks {
    width: 270px;
    height: 430px;
    margin: 0 0;
    float: left;
    box-shadow: #aaaaaa 0px 10px 10px 7px;
}

.middle-block {
    width: 270px;
    height: 430px;
    margin: 0 0;
    float: left;
    box-shadow: #aaaaaa 0px 10px 10px 7px;
    margin: 0 45px;
}

.blocks:hover {
    opacity: .7;
    background: #2eabff;
}

.middle-block:hover {
    opacity: .7;
    background: #eaeaea;
}

.info-block {
    width: 550px;
    height: 450px;
    padding: 0 20px;
    float: left;
}
.portfolio-topic {
    text-align: center;
}

.skills {
    margin: 0;
    padding: 0;
    width: 600px;
    height: 235px;
}

.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #076373;
    height: 20px;
    border-radius: 5px;
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.skill-name {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    background: #09884b;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.skill-name span{
    display: block;
    background: orange;
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.skillbar-bar {
    height: 20px;
    width: 0;
    background: #6adcfa;
    border-radius: 5px;
}

.skillbar-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    height: 20px;
    line-height: 20px;
    color: #eaeaea;
}

.gallery {
    margin: 0;
    padding: 0;
    width: 600px;
    height: 120px;
}

.gallery-img {
    margin: 0;
    padding: 0;
    width: 180px;
    height: 130px;
    margin-left: 10px;
/*    border: 1px solid blue;*/
}

#myImg1, #myImg2, #myImg3 {
    cursor: pointer;
    transition: 0.3s;
}

#myImg1, #myImg2, #myImg3:hover {opacity: 0.7;}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 90%;
    }
}

.contact {
    text-align: center;
    font-size: 23px;
    font-weight: 300;
}

#form {
	width: 600px;
	margin: 0 auto;
	height: 350px;
	padding: 10px;
    font-family: Arial;
}

#form .textbox {
	width: 97%;
	height: 30px;
	font-size: 14px;
    border-radius: 8px;
    margin-bottom: 7px;
    padding: 0 5px;
	border: 1px solid grey;
}

#form #message {
    height: 180px;
    font-family:'Open Sans',Arial;
    font-size: 14px;
    padding: 5px 5px;
}

#button {
	padding: 10px 20px;
	background-color: #09884b;
	color: #eaeaea;
	border: none;
	font-size: 18px;
	margin-bottom: 25px;
    margin-top: 1px;
    text-align: center;
    box-shadow: #aaaaaa 0px 5px 15px 5px;
}

.lower_box { 
    margin: 0, auto;
    height: 30px;
}

.copyright {
    float: left;
    margin-top: 10px;
    font-size: 14px;
}