<!DOCTYPE html>
html(lang="en")
    include includes/head.pug
        title My contacts
    body
        include includes/header.pug
        main.wrapper
            .content
                .content-block
                    a(href="./index.html")
                        img(src="../../img/contact.jpg" alt="CV")
                .content-info-block 
                    a(href="./index.html")
                        img(src="../../img/short_line_green.jpg" alt="")
                    h2.content-info-block_title If you are interested, please drop a line
                    form.content-info-block_contact-form#form
                        input(type="text" placeholder="Enter your name" name="name") 
                        input(type="email" placeholder="Enter your email" name="email" required)
                        input(type="subject" placeholder="Enter your subject" name="subject" required)
                        textarea(type="message" placeholder="Message" name="message" rows="11" cols="45" required)
                        button(onclick='record()' type="button") SUBMIT

    include includes/footer.pug

    script(src="../../js/form.js")