<!DOCTYPE html>
html(lang="en")
    include includes/head.pug
        title My CV
    body
        include includes/header.pug
        main.wrapper
            .content
                .content-block
                    a(href="./index.html")
                        img(src="../../img/cv.jpg" alt="CV")
                .content-info-block 
                    a(href="./index.html")
                        img(src="../../img/short_line_blue.jpg" alt="")
                    h2 Education
                    p.content-info-block_year 10/2018 – 06/2018	
                    p IT Academy, Bishkek, Kyrgyzstan
                    p.content-info-block_speciality Frontend web development
                    p.content-info-block_year 09/1997 – 06/2002	
                    p Kyrgyz National University, Bishkek, Kyrgyz Republic
                    p.content-info-block_speciality Engineer, Computer information systems
                    h2 Work experience
                    p.content-info-block_year 05/2019 – 07/2019
                    p Yorc.org
                    p.content-info-block_speciality Frontend developer intern	
                    p.content-info-block_year 06/2006 – 10/2018
                    p State Committee of Information Technologies and Communications
                    p State Communications Agency
                    p.content-info-block_speciality Department of external affairs	
                    p.content-info-block_speciality Spectrum management department  

    include includes/footer.pug